$primaryColor: #6a1b9a;
$primaryLightColor: #9c4dcc;
$primaryDarkColor: #38006b;

$secondaryColor: #00e5ff;
$secondaryLightColor: #6effff;
$secondaryDarkColor: #00b2cc;

$borderColor: $primaryDarkColor;
