.header {
  background-color: $primaryColor;

  &__main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem;
  }

  &__title {
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
  }

  &__top-space {
    background-color: $primaryDarkColor;
    height: 10px;
    width: 100%;
    box-shadow: 0px 3px 5px 0px $primaryColor;
  }
}
