$iconSize: 2rem;
$iconSizeOpenMenu: 1.8rem;

.header {
  background: $primaryColor radial-gradient($primaryDarkColor, $primaryColor);

  &-svg {
    width: $iconSizeOpenMenu;
    height: $iconSizeOpenMenu;
  }

  &__main-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
  }

  &__logo {
    position: absolute;
    width: $iconSize;
    transition: all 0.3s ease-out;

    &.opened-menu {
      width: 1.8rem;
    }
  }

  &__title {
    position: relative;
    left: 5.4rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    transition: all 0.3s ease-out;

    &.opened-menu {
      left: 2.5rem;
      font-size: 1rem;
    }
  }

  &__menu {
    &-trigger {
      opacity: 1;
      transition: opacity 0.3s ease-out;
      background: none;
      border: none;
    }

    &-trigger .header-svg {
      width: $iconSize;
      height: $iconSize;
    }

    &-settings,
    &-app-switch,
    &-close,
    &-info {
      margin-left: 0.3rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      background: none;
      border: none;
    }

    &-wrapper {
      position: relative;
      transition: all 0.3s ease-in-out;
      left: 8.3rem;

      &.opened {
        left: 0;

        .header__menu-trigger {
          opacity: 0;
        }

        .header__menu-app-switch,
        .header__menu-settings,
        .header__menu-close,
        .header__menu-info {
          opacity: 1;
        }

        .header__menu-settings .header-svg {
          animation: spin 0.5s ease-in-out;
        }
      }
    }

    &-settings .header-svg {
      &:hover {
        animation: spin 1s ease-in-out;
      }
    }
  }

  .menu-item.header__menu-trigger {
    display: inline-block;
    width: $iconSize;
    height: $iconSize;
  }

  .menu-item {
    display: inline-block;
    width: $iconSizeOpenMenu;
    height: $iconSizeOpenMenu;
  }
}
