.table {
  font-size: .9rem;
  margin-bottom: 0;

  &-striped tbody tr:nth-of-type(odd) {
    background-color: transparentize($primaryColor, .90);

  }

  td {

    &:after {
      display: block;
      content: attr(data-hover-text);
      font-weight: bold;
      height: 0;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
    }
  }

  .active td {
    font-weight: bold;
  }

  .favImage {
    width: 16px;
    height: 16px;
  }

  .spentTimeCell {
    text-align: right;
  }
}
