.table {
  font-size: .9rem;
  margin-bottom: 0;

  &-striped tbody tr:nth-of-type(odd) {
    background-color: transparentize($primaryColor, .90);

  }

  .active td {
    font-weight: bold;
  }


  .spentTimeCell {
    text-align: right;
  }
}
