.table {
  font-size: .9rem;
  margin-bottom: 0;

  &-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
  }

  .active {
    font-weight: bold;
  }

  .favImage {
    width: 16px;
    height: 16px;
  }

  .spentTimeCell {
    text-align: right;
  }
}
