@import './base/@base';
@import './common/@common';
@import './components/@components';

.nav-tabs {
  flex-wrap: nowrap;
  white-space: nowrap;
  border-bottom: 2px solid $primaryColor;

  .nav-item {
    margin-bottom: -2px;
  }

  .nav-link {
    color: $primaryLightColor;
    border: 2px solid transparent;
    border-top: none;
    border-bottom: none;
    padding: .5rem .7rem;

    &.active,
    &:hover {
      color: $primaryDarkColor;
      border: 2px solid $primaryColor;
      border-top: none;
      border-bottom: none;
      font-weight: bold;
      font-size: 15px;
      line-height: 1.6;
      border-radius: 15px 15px 0 0;
    }
  }
}

.table td, .table th {
  padding: .3rem .5rem;
}

.tab-pane {
  border: 2px solid $primaryColor;
  border-bottom: none;
  border-top: none;
  padding: 1rem 0;
}
